@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(145, 238, 207, 0.712);
    margin: 0%;
}

header {
    background-image: linear-gradient(rgba(25, 124, 66, 0.76), rgb(11, 46, 11));
    padding: 40px 40px 5px 20px;
}

header > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
    color: rgba(255, 255, 255, 0.863);
    text-shadow: 1px 2px 2px black;
}

header > p {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px black;
    padding-bottom: 20px;
}

nav {
    color: rgb(74, 245, 179);
    font-size: large;
}

nav > a {
    text-decoration: none;
    color: rgb(113, 233, 193);
    text-shadow: 1px 2px 2px rgba(41, 206, 123, 0.747);
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(49, 192, 120);
    color: rgb(9, 46, 9);
}

main {
    margin: auto;
    background-color: white;
    padding: 23px;
    line-height: 2;
    width: 1050px;
    max-width: 90%;
    min-width: 20%;
}

main > h1 {
    margin: 0%;
    font-family: 'idroid';
    color: rgb(6, 71, 6);
}

main > h2 {
    font-family: 'idroid';
    text-indent: 10px;
    background-image: linear-gradient(to right, rgb(87, 202, 87), rgb(99, 235, 99), rgba(146, 253, 146, 0.158));
    color: rgb(3, 97, 3);
}

main > p {
    text-indent: 23px;
    text-align: justify;
}

mark {
    color: rgb(1, 7, 1);
    background-color: rgba(26, 194, 26, 0.616);
}

mark > a {
    text-decoration: none;
}

mark > a:hover {
    text-decoration: underline;
}

main > picture {
    display: block;
    text-align: center;
}

#dandroid {
    display: block;
    text-align: center;
}

strong {
    color: rgb(15, 100, 72);
}

#video {
    background-color: rgb(29, 112, 85);
    padding: 0px;
    padding-bottom: 55%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#mais {
    background-color: rgba(24, 128, 50, 0.685);
    border-radius: 15px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.445);
}

div > h2 {
    background-color: rgba(11, 46, 11, 0.603);
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-indent: 10px;
}

#mais > p {
    text-indent: 23px;
    padding: 10px;
    text-align: justify;
}

#lista {
    display: flex;
    
}

.li {
    list-style-type: none;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    color: rgb(255, 13, 13);
}

footer {
    background-color: rgb(8, 77, 8);
    text-align: center;
}

footer > p {
    margin: 0%;
    color: white;
    padding: 5px;
}

.fo {
    text-decoration: none;
    color: white;
}

.fo:hover {
    text-decoration: underline;
    color: blue;
}

